include README.md
include requirements.txt
recursive-include octoprint_ignorepausedforuser/templates *
recursive-include octoprint_ignorepausedforuser/translations *
recursive-include octoprint_ignorepausedforuser/static *