<h4>IgnorePausedForUser Settings</h4>
<form class="form-horizontal" id="settings_plugin_IgnorePausedForUser_form">
	<div class="control-group">
		<label class="control-label">{{ _('Enabled') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.IgnorePausedForUser.enabled">
        </div>
    </div>	
	<div class="control-group">
		<label class="control-label">{{ _('Auto close') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.IgnorePausedForUser.autoclose">
        </div>
    </div>	
</form>